@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0 d-flex justify-content-between">
    <button type="button" class="btn btn-primary">
        <span>Deneyimlerim</span>
        <span class="badge badge-md badge-circle badge-floating badge-secondary p-2 border-white">@Model.Count</span>
    </button>
    <button class="btn btn-success" data-toggle="modal" data-target="#yenideneyimekle">Yeni Deneyim Ekle</button>
</div>

<!-- Yetenek ekleme Modal -->
<div class="modal fade" id="yenideneyimekle" tabindex="-1" role="dialog" aria-labelledby="yenideneyimekleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yenideneyimekleTitle">Yeni Deneyim Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/Experience/AddExperience">
           
            <div class="modal-body">
                <div class="row d-flex flex-column">
                    <div class="form-group">
                        <label>Pozisyon</label>
                        <input type="text" class="form-control" name="Title" />
                    </div>
                    <div class="form-group">
                        <label>Konum/Şirket</label>
                        <input type="text" class="form-control" name="Company" />
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        <input type="text" class="form-control" name="Date" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Oluştur</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Düzenleme Modal -->
<div class="modal fade" id="duzenleModal" tabindex="-1" role="dialog" aria-labelledby="duzenleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duzenleModalTitle">Deneyimi Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editExperienceForm" method="post" action="/Experience/EditExperience/">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editTitle">Pozisyon</label>
                        <input type="text" class="form-control" id="editTitle" name="Title" />
                    </div>
                    <div class="form-group">
                        <label for="editValue">Konum/Şirket</label>
                        <input type="text" class="form-control" id="editCompany" name="Company" />
                    </div>

                    <div class="form-group">
                        <label for="editValue">Tarih</label>
                        <input type="text" class="form-control" id="editDate" name="Date" />
                    </div>
                    <!-- Hidden input to hold the SkillID -->
                    <input type="hidden" id="editExperienceId" name="ExperienceID" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Pozisyon</th>
                <th scope="col" class="sort" data-sort="status">Konum</th>
                <th scope="col" class="sort" data-sort="status">Tarih</th>
                <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach(var i in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <a class="avatar rounded-circle mr-3">
                                @i.ExperienceID
                            </a>
                        </div>
                    </th>
                    <td class="budget">@i.Title</td>
                    <td class="budget">@i.Company</td>

                    <td> <span class="completion mr-2">@i.Date</span> </td>
                    <td><button class="btn btn-primary" onclick="openEditExperience(@i.ExperienceID)">Düzenle</button></td>

                    <td><a href="/Experience/DeleteExperience/@i.ExperienceID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function openEditExperience(experienceID) {
        // AJAX isteği yap
        $.ajax({
            url: '/Experience/GetById/' + experienceID,
            type: 'GET',
            success: function (response) {
                // Gelen verilerle modalı doldur
                $('#editTitle').val(response.title);
                $('#editCompany').val(response.company);
                $('#editDate').val(response.date);
                $('#editExperienceId').val(response.experienceID); // Hidden input'un değerini ayarla
                // Modalı aç
                $('#duzenleModal').modal('show');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    // Kaydet butonuna basıldığında
    $(document).on('submit', '#editExperienceForm', function (e) {
        e.preventDefault(); // Sayfanın yeniden yüklenmesini engelle

        var formData = $(this).serialize(); // Form verilerini al
        var url = $(this).attr('action'); // Formun gönderileceği URL

        // AJAX isteği yap
        $.post(url, formData)
            .done(function (response) {
                // Başarılı bir şekilde işlem yapıldığında modalı kapat
                $('#duzenleModal').modal('hide');
                // İlgili sayfayı yeniden yükle
                window.location.reload();
            })
            .fail(function (error) {
                console.log(error);
            });
    });


</script>