@using EntityLayer.Concrete
@model List<Reference>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Referanslarım (@Model.Count()) </h3>
        <button class="btn btn-success" data-toggle="modal" data-target="#yenireferansekle">Referans Ekle</button>
    </div>

    @foreach(var i in Model)
        {
    <div class="row mt-3">
        
            <div class="col-3">
            <input type="hidden" value="@i.ReferenceID" name="ReferenceID" />
                <img src="@i.ImageUrl" alt="Reference Image" class="card-img-top">
            </div>
            <div class="col-9">
                <div class="d-flex align-items-center justify-content-start">
                    <h3>@i.Name |</h3> <span class="px-1">@i.Company</span>
                </div>

                <textarea class="form-control" rows="7" style="resize:vertical;">@i.Comment</textarea>

                <div class="btn-group d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="openEditReference(@i.ReferenceID)">Güncelle</button>
                    <a href="/Reference/DeleteReference/@i.ReferenceID" class="btn btn-danger">Sil</a>
                </div>
            </div>
    </div>
    }

</div>

<div class="modal fade" id="yenireferansekle" tabindex="-1" role="dialog" aria-labelledby="yenireferansekleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="yenireferansekleTitle">Yeni Referans Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/Reference/AddReference">
                <div class="modal-body">
                    <div class="row d-flex flex-column">
                        <div class="form-group">
                            <label>Referans Görsel URL</label>
                            <input type="text" class="form-control" name="ImageUrl" />
                        </div>
                        <div class="form-group">
                            <label>Referans Adı</label>
                            <input type="text" class="form-control" name="Name" />
                        </div>
                        <div class="form-group">
                            <label>Şirket/Ünvan</label>
                            <input type="text" class="form-control" name="Company" />
                        </div>

                        <div class="form-group">
                            <label>Yorum</label>
                            <textarea class="form-control" name="Comment" rows="5"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Oluştur</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="duzenleModal" tabindex="-1" role="dialog" aria-labelledby="duzenleModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="duzenleModalTitle">Projeyi Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editReferenceForm" method="post" action="/Reference/EditReference/">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editImageUrl">Görsel URL</label>
                        <input type="text" class="form-control" id="editImageUrl" name="ImageUrl" />
                    </div>
                    <div class="form-group">
                        <label for="editName">Referans Adı</label>
                        <input type="text" class="form-control" id="editName" name="Name" />
                    </div>

                    <div class="form-group">
                        <label for="editLink">Firma/Ünvan</label>
                        <input type="text" class="form-control" id="editCompany" name="Company" />
                    </div>
                    
                    <div class="form-group">
                        <label for="editLink">Yorum</label>
                        <textarea class="form-control" id="editComment" name="Comment"></textarea>
                    </div>
                    <input type="hidden" id="editReferenceId" name="ReferenceID" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function openEditReference(referenceID) {
        // AJAX isteği yap
        $.ajax({
            url: '/Reference/GetById/' + referenceID,
            type: 'GET',
            success: function (response) {
                // Gelen verilerle modalı doldur
                $('#editImageUrl').val(response.imageurl);
                $('#editName').val(response.name);
                $('#editCompany').val(response.company);
                $('#editComment').val(response.comment);
                $('#editReferenceId').val(response.id);

                $('#duzenleModal').modal('show');
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    // Kaydet butonuna basıldığında
    $(document).on('submit', '#editPortfolioForm', function (e) {
        e.preventDefault(); // Sayfanın yeniden yüklenmesini engelle

        var formData = $(this).serialize(); // Form verilerini al
        var url = $(this).attr('action'); // Formun gönderileceği URL

        // AJAX isteği yap
        $.post(url, formData)
            .done(function (response) {
                // Başarılı bir şekilde işlem yapıldığında modalı kapat
                $('#duzenleModal').modal('hide');
                // İlgili sayfayı yeniden yükle
                window.location.reload();
            })
            .fail(function (error) {
                console.log(error);
            });
    });


</script>